@model MVCProjectDemo.Models.LanguageViewModel
@{
    Layout = null;
}

<!doctype html>
<html class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'class',
            theme: {
                extend: {
                    colors: {
                        clifford: '#fff',


                    }
                }
            }
        }
    </script>
    <style>
        .opened {
            display: block;
        }

        .closed {
            display: none;
        }
    </style>
</head>
<body class="bg-slate-50 dark:bg-gray-700">

    <main class="container mx-auto mt-6 ">
        <div class="flex flex-wrap md:flex-nowrap mb-3 ">
            <aside
                class=" mx-3 mb-3 w-full h-full md:w-96 rounded-lg px-6 py-8 shadow-[0_0px_10px_0px_rgba(0,0,0,0.2)]">
                <button id="theme-toggle" type="button"
                    class="flex  mb-2 text-gray-500 dark:text-gray-400 bg-slate-300 dark:bg-gray-600  focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 w-full">
                    <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                    </svg>
                    <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                            fill-rule="evenodd" clip-rule="evenodd"></path>
                    </svg>
                    <span class="ml-2 font-bold	 ">Koyu Mod</span>
                </button>
                <div>
                    <input
                        class="shadow appearance-none  border rounded w-full py-2 px-3 text-gray-700 font-semibold leading-tight focus:outline-none focus:shadow-outline"
                        id="search" type="text" placeholder="Search">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" height="40" width="40"><path d="M33 35.292 22.125 24.417Q20.875 25.458 19.229 26.042Q17.583 26.625 15.708 26.625Q11.125 26.625 7.938 23.417Q4.75 20.208 4.75 15.708Q4.75 11.167 7.938 7.979Q11.125 4.792 15.667 4.792Q20.208 4.792 23.396 7.979Q26.583 11.167 26.583 15.708Q26.583 17.5 26 19.146Q25.417 20.792 24.375 22.167L35.25 33ZM15.667 23.458Q18.917 23.458 21.167 21.188Q23.417 18.917 23.417 15.708Q23.417 12.458 21.167 10.208Q18.917 7.958 15.667 7.958Q12.458 7.958 10.188 10.208Q7.917 12.458 7.917 15.708Q7.917 18.917 10.167 21.188Q12.417 23.458 15.667 23.458Z"/></svg>*@ -->
                </div>

                <ul id="menu" class="menu list-none mt-3  text-slate-900 dark:text-gray-300">
                    <li id="side-menu">
                        <div class="flex justify-between">
                            <span class="text-lg  font-medium tracking-tight hover:text-lime-700">Gübreleme</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="fill-white	" height="24" width="24">
                                <path d="M12 15.375 6 9.375 7.4 7.975 12 12.575 16.6 7.975 18 9.375Z" />
                            </svg>
                        </div>

                        <ul class="sub-menu list-none px-3  ">
                            <li> <a class=" hover:text-lime-700 " href=""> Gübreleme nasıl yapıasdasda lır </a>
                            </li>
                            <li> <a class=" hover:text-lime-700 " href=""> Gübreleme nasıl yapılır </a> </li>
                            <li> <a class=" hover:text-lime-700 " href=""> Gübreleme nasıl yapılır </a> </li>

                        </ul>

                    </li>
                    <li>
                        <div id="side-menu" class="flex justify-between">
                            <span for="#side-menu" class="text-lg  font-medium tracking-tight hover:text-lime-700">İklimlendirme</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="fill-white	" height="24" width="24">
                                <path d="M12 15.375 6 9.375 7.4 7.975 12 12.575 16.6 7.975 18 9.375Z" />
                            </svg>
                        </div>
                        <ul class="sub-menu list-none px-3  ">
                            <li> <a class=" hover:text-lime-700 " href=""> Gübreleme nasıl yapıasdasda lır </a>
                            </li>
                            <li> <a class=" hover:text-lime-700 " href=""> Gübreleme nasıl yapılır </a> </li>
                            <li> <a class=" hover:text-lime-700 " href=""> Gübreleme nasıl yapılır </a> </li>

                        </ul>
                    </li>
                    <li id="side-menu">
                        <div class="flex justify-between">
                            <span class="text-lg  font-medium tracking-tight hover:text-lime-700">Havalandırma</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="fill-white	" height="24" width="24">
                                <path d="M12 15.375 6 9.375 7.4 7.975 12 12.575 16.6 7.975 18 9.375Z" />
                            </svg>
                        </div>
                        <ul class="sub-menu list-none px-3  ">
                            <li> <a class=" hover:text-lime-700 " href=""> Gübreleme nasıl yapıasdasda lır </a>
                            </li>
                            <li> <a class=" hover:text-lime-700 " href=""> Gübreleme nasıl yapılır </a> </li>
                            <li> <a class=" hover:text-lime-700 " href=""> Gübreleme nasıl yapılır </a> </li>

                        </ul>
                    </li>
                </ul>
            </aside>
            <section class="w-full">
                <div class="rounded-lg px-6 py-8 mx-3 mb-3 flex flex-col shadow-[0_0px_10px_0px_rgba(0,0,0,0.2)] ">
                    <div class="mb-2 text-base font-medium text-slate-900  dark:text-gray-300">
                        <a href=""> Mobil /</a>
                        <a href=""> Gübreleme /</a>
                        <span class="text-sm text-slate-800 dark:text-gray-300"> Gübreleme nasıl yapılır</span>
                    </div>

                    <div class="flex justify-between items-center">
                        <div class="flex justify-center flex-col">

                            <div class="flex flex-wrap">
                                <a href="#"
                                    class=" px-3 mr-1 mb-1  h-7 rounded-md flex items-center justify-center bg-slate-300 text-slate-700 dark:bg-slate-600 dark:text-gray-300">
                                    Anahtar Kelime:</a>
                                <a href="#"
                                    class="px-3 mr-1  mb-1 h-7 rounded-md flex items-center justify-center bg-slate-300 text-slate-700 dark:bg-slate-600 dark:text-gray-300  peer-checked:bg-slate-100 peer-checked:text-slate-900">
                                    Sulama </a>
                                <a href="#"
                                    class="px-3 mr-1 mb-1 h-7 rounded-md flex items-center justify-center bg-slate-300 text-slate-700 dark:bg-slate-600 dark:text-gray-300  peer-checked:bg-slate-100 peer-checked:text-slate-900">
                                    Otomatik Sulama </a>
                                <a href="#"
                                    class="px-3 mr-1 mb-1 h-7 rounded-md flex items-center justify-center bg-slate-300 text-slate-700 dark:bg-slate-600 dark:text-gray-300  peer-checked:bg-slate-100 peer-checked:text-slate-900">
                                    Zamanlı Sulama </a>
                                <a href="#"
                                    class="px-3 mr-1 mb-1  h-7 rounded-md flex items-center justify-center bg-slate-300 text-slate-700 dark:bg-slate-600 dark:text-gray-300  peer-checked:bg-slate-100 peer-checked:text-slate-900">
                                    Tarihli Sulama </a>

                            </div>
                        </div>
                        <div class="flex items-center ">
                            <a class="rounded-lg  bg-slate-300 dark:bg-gray-600 p-2 mr-1 " href="">
                                <svg class="fill-stone-700	dark:fill-gray-300  dark:hover:fill-lime-500  hover:fill-lime-700"
                                    xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                                    <path
                                        d="M12 20.5Q12.425 20.5 12.713 20.212Q13 19.925 13 19.5Q13 19.075 12.713 18.788Q12.425 18.5 12 18.5Q11.575 18.5 11.288 18.788Q11 19.075 11 19.5Q11 19.925 11.288 20.212Q11.575 20.5 12 20.5ZM7 16H17V6H7ZM7 23Q6.175 23 5.588 22.413Q5 21.825 5 21V3Q5 2.175 5.588 1.587Q6.175 1 7 1H17Q17.825 1 18.413 1.587Q19 2.175 19 3V21Q19 21.825 18.413 22.413Q17.825 23 17 23Z" />
                                </svg>

                            </a>
                            <a class="bg-slate-300 rounded-lg dark:bg-gray-600 p-2 mr-1  flex justify-center items-center"
                                href="">
                                <svg class="fill-stone-700	dark:fill-gray-300 dark:hover:fill-lime-500  hover:fill-lime-700"
                                    xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                                    <path
                                        d="M8 22V21L10 19H4Q3.175 19 2.588 18.413Q2 17.825 2 17V5Q2 4.175 2.588 3.587Q3.175 3 4 3H20Q20.825 3 21.413 3.587Q22 4.175 22 5V17Q22 17.825 21.413 18.413Q20.825 19 20 19H14L16 21V22Z" />
                                </svg>
                            </a>

                            <a class="bg-slate-300 rounded-lg dark:bg-gray-600 p-2 mr-1" href="">
                                <svg class="fill-stone-700 dark:fill-gray-300 dark:hover:fill-lime-500  hover:fill-lime-700"
                                    xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                                    <path
                                        d="M13 20Q13 17.725 12.137 15.725Q11.275 13.725 9.775 12.225Q8.275 10.725 6.275 9.863Q4.275 9 2 9V6Q2 5.175 2.588 4.588Q3.175 4 4 4H20Q20.825 4 21.413 4.588Q22 5.175 22 6V18Q22 18.825 21.413 19.413Q20.825 20 20 20ZM9 20Q9 17.075 6.963 15.037Q4.925 13 2 13V11Q3.875 11 5.513 11.712Q7.15 12.425 8.363 13.637Q9.575 14.85 10.288 16.488Q11 18.125 11 20ZM5 20Q5 18.75 4.125 17.875Q3.25 17 2 17V15Q4.075 15 5.537 16.462Q7 17.925 7 20Z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="mb-3 rounded-lg px-6 py-8 mx-3 shadow-[0_0px_10px_0px_rgba(0,0,0,0.2)]">
                    <div class="flex justify-between items-center">
                        <h1 class="text-3xl mb-3 text-base font-medium text-slate-900 dark:text-gray-300">İleri Tarihli
                            Sulama Kullanımı
                        </h1>
                        <a class="rounded-lg  bg-slate-300 dark:bg-gray-600 flex items-center p-2" href="">
                            <svg class="fill-stone-700 dark:fill-gray-300 hover:fill-lime-800 hover:dark:fill-lime-500"
                                xmlns="http://www.w3.org/2000/svg" height="40" width="40">
                                <path
                                    d="M15.917 27.208 27.208 20 15.917 12.792ZM20 36.667Q16.583 36.667 13.542 35.354Q10.5 34.042 8.229 31.771Q5.958 29.5 4.646 26.458Q3.333 23.417 3.333 20Q3.333 16.583 4.646 13.542Q5.958 10.5 8.229 8.229Q10.5 5.958 13.542 4.646Q16.583 3.333 20 3.333Q23.417 3.333 26.458 4.646Q29.5 5.958 31.771 8.229Q34.042 10.5 35.354 13.542Q36.667 16.583 36.667 20Q36.667 23.417 35.354 26.458Q34.042 29.5 31.771 31.771Q29.5 34.042 26.458 35.354Q23.417 36.667 20 36.667ZM20 20Q20 20 20 20Q20 20 20 20Q20 20 20 20Q20 20 20 20Q20 20 20 20Q20 20 20 20Q20 20 20 20Q20 20 20 20ZM20 33.875Q25.75 33.875 29.812 29.812Q33.875 25.75 33.875 20Q33.875 14.25 29.812 10.188Q25.75 6.125 20 6.125Q14.25 6.125 10.188 10.188Q6.125 14.25 6.125 20Q6.125 25.75 10.188 29.812Q14.25 33.875 20 33.875Z" />
                            </svg>
                        </a>
                    </div>

                    <p class="text-slate-900 dark:text-gray-300 mt-3">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus earum animi eos eligendi
                        nulla illo perferendis, tempore corrupti officia dolor quo! Aut vel sint odit repellat atque
                        eveniet, culpa quos?
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quia nam illum dolor
                        sapiente facere, incidunt velit consequuntur nihil? Aspernatur asperiores totam pariatur est
                        sapiente accusantium voluptatum voluptas similique non.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos saepe sapiente eaque sed
                        necessitatibus laborum nulla, asperiores voluptate voluptas sint magni laboriosam at in quisquam
                        temporibus nisi tenetur vel ullam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quibusdam nesciunt eius quasi
                        enim neque harum eaque sint asperiores ab dignissimos, praesentium totam minima odio quas.
                        Delectus accusantium voluptas cupiditate.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi aspernatur officiis provident
                        ipsum sapiente corporis assumenda aliquid et, odit veritatis accusantium ad dolores deserunt
                        totam amet voluptates quibusdam praesentium error.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum delectus maxime dolorem unde
                        nisi aspernatur, architecto provident ipsa expedita sed? Laboriosam necessitatibus at
                        repellendus libero excepturi autem modi totam explicabo.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima adipisci expedita rerum, animi
                        at beatae tenetur dolor ipsum alias ut, voluptates, non dolorum quis sed odio culpa reiciendis
                        suscipit optio?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima adipisci expedita rerum, animi
                        at beatae tenetur dolor ipsum alias ut, voluptates, non dolorum quis sed odio culpa reiciendis
                        suscipit optio?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima adipisci expedita rerum, animi
                        at beatae tenetur dolor ipsum alias ut, voluptates, non dolorum quis sed odio culpa reiciendis
                        suscipit optio?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima adipisci expedita rerum, animi
                        at beatae tenetur dolor ipsum alias ut, voluptates, non dolorum quis sed odio culpa reiciendis
                        suscipit optio?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima adipisci expedita rerum, animi
                        at beatae tenetur dolor ipsum alias ut, voluptates, non dolorum quis sed odio culpa reiciendis
                        suscipit optio?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima adipisci expedita rerum, animi
                        at beatae tenetur dolor ipsum alias ut, voluptates, non dolorum quis sed odio culpa reiciendis
                        suscipit optio?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima adipisci expedita rerum, animi
                        at beatae tenetur dolor ipsum alias ut, voluptates, non dolorum quis sed odio culpa reiciendis
                        suscipit optio?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima adipisci expedita rerum, animi
                        at beatae tenetur dolor ipsum alias ut, voluptates, non dolorum quis sed odio culpa reiciendis
                        suscipit optio?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima adipisci expedita rerum, animi
                        at beatae tenetur dolor ipsum alias ut, voluptates, non dolorum quis sed odio culpa reiciendis
                        suscipit optio?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima adipisci expedita rerum, animi
                        at beatae tenetur dolor ipsum alias ut, voluptates, non dolorum quis sed odio culpa reiciendis
                        suscipit optio?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima adipisci expedita rerum, animi
                        at beatae tenetur dolor ipsum alias ut, voluptates, non dolorum quis sed odio culpa reiciendis
                        suscipit optio?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima adipisci expedita rerum, animi
                        at beatae tenetur dolor ipsum alias ut, voluptates, non dolorum quis sed odio culpa reiciendis
                        suscipit optio?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima adipisci expedita rerum, animi
                        at beatae tenetur dolor ipsum alias ut, voluptates, non dolorum quis sed odio culpa reiciendis
                        suscipit optio?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima adipisci expedita rerum, animi
                        at beatae tenetur dolor ipsum alias ut, voluptates, non dolorum quis sed odio culpa reiciendis
                        suscipit optio?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima adipisci expedita rerum, animi
                        at beatae tenetur dolor ipsum alias ut, voluptates, non dolorum quis sed odio culpa reiciendis
                        suscipit optio?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima adipisci expedita rerum, animi
                        at beatae tenetur dolor ipsum alias ut, voluptates, non dolorum quis sed odio culpa reiciendis
                        suscipit optio?

                    </p>
                </div>
                <div class="mb-3 rounded-lg  px-6 py-8 mx-3 shadow-[0_0px_10px_0px_rgba(0,0,0,0.2)]">
                    <h1 class="mb-2 text-xl text-base font-medium text-slate-900 dark:text-gray-300">İlgili
                        Dökümantasyonlar
                    </h1>
                    <div>
                        <div class="flex flex-wrap w-full">
                            <a href="#" class="mr-1 mb-2 px-2 py-1  flex items-center justify-center rounded-md text-slate-300 border border-slate-200"
                                type="button" aria-label="Like">
                                <svg class="fill-gray-300" xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                                    <path
                                        d="M9 13H10V11H11Q11.425 11 11.713 10.712Q12 10.425 12 10V9Q12 8.575 11.713 8.287Q11.425 8 11 8H9ZM10 10V9H11V10ZM13 13H15Q15.425 13 15.713 12.712Q16 12.425 16 12V9Q16 8.575 15.713 8.287Q15.425 8 15 8H13ZM14 12V9H15V12ZM17 13H18V11H19V10H18V9H19V8H17ZM8 18Q7.175 18 6.588 17.413Q6 16.825 6 16V4Q6 3.175 6.588 2.587Q7.175 2 8 2H20Q20.825 2 21.413 2.587Q22 3.175 22 4V16Q22 16.825 21.413 17.413Q20.825 18 20 18ZM4 22Q3.175 22 2.588 21.413Q2 20.825 2 20V6H4V20Q4 20 4 20Q4 20 4 20H18V22Z" />
                                </svg>
                                <span class="ml-2">Lorem ipsum dolor sit amet consectetur adipisicing</span>
                            </a>
                            <a href="#" class="mr-1  mb-2 px-2 py-1  flex items-center justify-center rounded-md text-slate-300 border border-slate-200"
                                type="button" aria-label="Like">
                                <svg class="fill-gray-300" xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                                    <path
                                        d="M9 13H10V11H11Q11.425 11 11.713 10.712Q12 10.425 12 10V9Q12 8.575 11.713 8.287Q11.425 8 11 8H9ZM10 10V9H11V10ZM13 13H15Q15.425 13 15.713 12.712Q16 12.425 16 12V9Q16 8.575 15.713 8.287Q15.425 8 15 8H13ZM14 12V9H15V12ZM17 13H18V11H19V10H18V9H19V8H17ZM8 18Q7.175 18 6.588 17.413Q6 16.825 6 16V4Q6 3.175 6.588 2.587Q7.175 2 8 2H20Q20.825 2 21.413 2.587Q22 3.175 22 4V16Q22 16.825 21.413 17.413Q20.825 18 20 18ZM4 22Q3.175 22 2.588 21.413Q2 20.825 2 20V6H4V20Q4 20 4 20Q4 20 4 20H18V22Z" />
                                </svg>
                                <span class="ml-1">Örnek Belge adı</span>
                            </a><a href="#"
                                class="mr-1  mb-2 px-2 py-1  flex items-center justify-center rounded-md text-slate-300 border border-slate-200"
                                type="button" aria-label="Like">
                                <svg class="fill-gray-300" xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                                    <path
                                        d="M9 13H10V11H11Q11.425 11 11.713 10.712Q12 10.425 12 10V9Q12 8.575 11.713 8.287Q11.425 8 11 8H9ZM10 10V9H11V10ZM13 13H15Q15.425 13 15.713 12.712Q16 12.425 16 12V9Q16 8.575 15.713 8.287Q15.425 8 15 8H13ZM14 12V9H15V12ZM17 13H18V11H19V10H18V9H19V8H17ZM8 18Q7.175 18 6.588 17.413Q6 16.825 6 16V4Q6 3.175 6.588 2.587Q7.175 2 8 2H20Q20.825 2 21.413 2.587Q22 3.175 22 4V16Q22 16.825 21.413 17.413Q20.825 18 20 18ZM4 22Q3.175 22 2.588 21.413Q2 20.825 2 20V6H4V20Q4 20 4 20Q4 20 4 20H18V22Z" />
                                </svg>
                                <span class="ml-1">Örnek Belge adı</span>
                            </a>
                        </div>
                    </div>


                </div>
                <div class="rounded-lg  px-6 py-8 mx-3 shadow-[0_0px_10px_0px_rgba(0,0,0,0.2)]">
                    <h1 class="mb-2 text-xl text-base font-medium text-slate-900 dark:text-gray-300">Bağlantılı
                        içerikler
                    </h1>
                    <div>
                        <div class="flex flex-wrap">
                            <a href="#"
                                class=" px-3 mr-1 mb-1 py-1 rounded-md flex items-center justify-center bg-slate-300 text-slate-700 dark:bg-slate-600 dark:text-gray-300">
                                İleri tarihli sulama nasıl yapılır ? orem ipsum dolor sit amet consectetur adip</a>
                            <a href="#"
                                class="px-3 mr-1  mb-1 py-1  rounded-md flex items-center justify-center bg-slate-300 text-slate-700 dark:bg-slate-600 dark:text-gray-300  peer-checked:bg-slate-100 peer-checked:text-slate-900">
                                Günlük Sulama nasıl yapılır ? </a>
                            <a href="#"
                                class="px-3 mr-1 mb-1 py-1 rounded-md falex items-center justify-center bg-slate-300 text-slate-700 dark:bg-slate-600 dark:text-gray-300  peer-checked:bg-slate-100 peer-checked:text-slate-900">
                                Otomatik Sulama </a>
                            <a href="#"
                                class="px-3 mr-1 mb-1 py-1 rounded-md flex items-center justify-center bg-slate-300 text-slate-700 dark:bg-slate-600 dark:text-gray-300  peer-checked:bg-slate-100 peer-checked:text-slate-900">
                                Zamanlı Sulama </a>
                            <a href="#"
                                class="px-3 mr-1 mb-1 py-1 rounded-md flex items-center justify-center bg-slate-300 text-slate-700 dark:bg-slate-600 dark:text-gray-300  peer-checked:bg-slate-100 peer-checked:text-slate-900">
                                Tarihli Sulama </a>

                        </div>
                    </div>


                </div>

            </section>

        </div>



    </main>


    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }



        var themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
        var themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');

        // Change the icons inside the button based on previous settings
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            themeToggleLightIcon.classList.remove('hidden');
        } else {
            themeToggleDarkIcon.classList.remove('hidden');
        }

        var themeToggleBtn = document.getElementById('theme-toggle');
        var themeText = document.getElementById('theme-text')

        themeToggleBtn.addEventListener('click', function () {

            // toggle icons inside button
            themeToggleDarkIcon.classList.toggle('hidden');
            themeToggleLightIcon.classList.toggle('hidden');

            // if set via local storage previously
            if (localStorage.getItem('color-theme')) {
                if (localStorage.getItem('color-theme') === 'light') {
                    document.documentElement.classList.add('dark');
                    localStorage.setItem('color-theme', 'dark');
                } else {
                    document.documentElement.classList.remove('dark');
                    localStorage.setItem('color-theme', 'light');
                }

                // if NOT set via local storage previously
            } else {
                if (document.documentElement.classList.contains('dark')) {
                    document.documentElement.classList.remove('dark');
                    localStorage.setItem('color-theme', 'light');
                } else {
                    document.documentElement.classList.add('dark');
                    localStorage.setItem('color-theme', 'dark');
                }
            }

        });

//         document.addEventListener("DOMContentLoaded", () => {

//             var sideMenu = document.getElementById("menu");

            
//             var elems = document.querySelectorAll('#side-menu');
//             var values = Array.prototype.map.call(elems, function(obj) {
//             return obj.onclick = function(e){ console.log(e.target) };
// })

//         });


    </script>

</body>
</html>